/* shared styles*/
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

.yeseva-one-regular {
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
}
.btn-primary{
    background-color: #FF5959;
    color: white;
    font-size: .9rem;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    padding: 10px;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/*header*/
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.focused{
    display: flex;
    justify-content: space-between;
    gap: 250px;
    align-items: center;
    background-color: antiquewhite;
   padding: 50px;
   margin: 5px auto;
   
}
.focused-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}
.focused-info h1{
    font-size: 2.5rem;
    font-weight: 500;
    color: #333333;
    border-left: 1.5px solid red;
}
 span{
  color: #FFAD5A;  
}
.first-para{
    font-size: .8rem;
    font-weight: 400;
    color: #3E3E3E;
}
.second-para{
    font-size: .6rem;
    font-weight: 300;
    color: #434343;
}
.focused img{
    width: 70%;
}

/*Main section */
main{
    max-width: 1140px;
    max-width: 120px auto   ;
}
/*mission section*/
.mission{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mission-contain{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 70%;
    
}
.mission-contain div{
    
    border-radius: 6px;
    border: none;
    padding: 12px;

}
.m1{
background-color: rgba(79, 157, 166, 0.1);
}
.m2{
    background-color: rgba(255, 89, 89, 0.1);
}
.m3{
    background-color: rgba(255, 244, 214, 1);
}
.mission-contain img{
    width: 40%;
}
.mission h3{
    font-size: 1rem;
    font-weight: 400;
}
p{
    font-size: .8rem;
    font-weight: 300;
}

/*develop section*/
.develop {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 19px auto;
    padding: 20px;
    margin-left: 150px;
}

.develop h3 , .global h3{
    color: #333333;
    font-size: 1.5rem;
    font-weight: 500;
}
.develop-info ,.global-info{
    width: 60%; 
}

.global{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 60px;
    margin: 19px auto;
    padding: 20px;
    margin-left: 150px;
    width: 100%;
    
}
.global img ,.develop img{
    width: 50%;
    margin-right: 0%;
}
